//
// ENCORE NETTOYER LES ANCIENNES
//
$marine-blue: rgb(17, 28, 56);
$header-red: rgb(239, 75, 76);
$grey: rgb(204, 204, 204);
$light-grey: rgb(241, 241, 241);
$medium-grey: rgb(5, 5, 5);
$dark-grey: rgb(51, 51, 51);
// NOTE THAT SOME ARE USED
$primary-color: rgb(27,99,160);
$primary-color-dim: rgb(17, 28, 56);
$secondary-color: rgb(17, 28, 56);
$alert-color: rgb(239, 75, 76);
$warning-color: yellow;
$success-color: green;
// PREVIOUS FROM CAITLIN
$global--color-rouge: rgb(255, 0, 0);
$global--color-groseille: rgb(181, 31, 31);
$global--color-leman: rgb(0, 167, 159);
$global--color-canard: rgb(0, 116, 128);
$global--color-ardoise: rgb(65, 61, 58);
$global--color-perle: rgb(202, 199, 199);
